<button ng-click="newGame(8, 8, 10)">:-)</button>
<div>
  <span>Bombs: <span class="report">{{bombs - flags}}</span></span>
  <!-- FIXME: make this stop when the game isn't active -->
  <span>Time: <span class="report" play-time></span></span>
</div>
<table class="playing-field">
  <tbody>
    <tr ng-repeat="row in board">
      <!-- The problem with this approach is that the click handler doesn't really have any good way
	   to do styling. But that should be what the filter is for anyway -->
      <td ng-repeat="cell in row" ng-click="tentativeClick(cell)" class='hidden'>{{cell | mineFilter }}</td>
    </tr>
  </tbody>
</table>
